---
# yaml-language-server: $schema=https://www.schemastore.org/yamllint.json
extends: default

locale: en_US.UTF-8

yaml-files:
    - "*.yaml"
    - "*.yml"
    - ".yamllint"
    - ".yamllint.yaml"
    - ".yamllint.yml"
    - "docker-compose*.yaml"
    - "docker-compose*.yml"
    - "**/*.yaml"
    - "**/*.yml"

ignore: |
    node_modules
    **/node_modules/**
    dist/
    coverage/
    .cache/
    temp/
    .git/

rules:
    anchors:
        forbid-duplicated-anchors: true
        forbid-undeclared-aliases: true
        forbid-unused-anchors: false
    braces:
        level: warning
        max-spaces-inside: 5
        min-spaces-inside: 0
    brackets:
        level: warning
        max-spaces-inside: 20
        min-spaces-inside: 0
    colons:
        level: warning
        max-spaces-after: 1
        max-spaces-before: 0
    commas:
        level: warning
        max-spaces-after: 1
        max-spaces-before: 0
        min-spaces-after: 1
    comments:
        ignore-shebangs: true
        min-spaces-from-content: 1
        require-starting-space: true
    comments-indentation: disable
    document-end: disable
    document-start: disable
    empty-lines:
        level: warning
        max: 2
        max-end: 1
        max-start: 1
    empty-values:
        forbid-in-block-mappings: false
        forbid-in-block-sequences: true
        forbid-in-flow-mappings: true
    float-values:
        forbid-inf: false
        forbid-nan: false
        forbid-scientific-notation: false
        require-numeral-before-decimal: false
    hyphens:
        level: warning
        max-spaces-after: 1
    indentation:
        check-multi-line-strings: false
        indent-sequences: consistent
        level: warning
        spaces: 4
    key-duplicates:
        forbid-duplicated-merge-keys: true
    key-ordering: disable
    line-length:
        allow-non-breakable-inline-mappings: true
        allow-non-breakable-words: true
        level: warning
        max: 200
    new-line-at-end-of-file: enable
    new-lines:
        type: unix
    octal-values: enable
    quoted-strings:
        allow-quoted-quotes: false
        check-keys: false
        quote-type: double
        required: false
    trailing-spaces: enable
    truthy:
        allowed-values: ["yes", "no", "true", "false", "on", "off"]
        check-keys: false
